<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:group {"tagName":"article","align":"full","className":"hy-article","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<article class="wp-block-group alignfull hy-article" style="margin-top:0;padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:group {"align":"wide","className":"hy-grid","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"grid","columnCount":12}} -->
<div class="wp-block-group alignwide hy-grid"><!-- wp:paragraph {"className":"is-style-vertical-label","style":{"layout":{"columnSpan":1}}} -->
<p class="is-style-vertical-label">Kasumi-an</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"style":{"layout":{"columnSpan":10}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"aspectRatio":"21/9","align":"wide","className":"is-style-slow-zoom","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} /-->

<!-- wp:post-content {"className":"hy-prose","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} /--></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
