<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ks-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group ks-main"><!-- wp:group {"align":"full","className":"ks-section ks-store-page ks-store-page--account","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull ks-section ks-store-page ks-store-page--account"><!-- wp:group {"align":"wide","className":"ks-store-page__head ks-centre","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide ks-store-page__head ks-centre"><!-- wp:post-title {"level":1} /-->

<!-- wp:paragraph {"className":"is-style-label"} -->
<p class="is-style-label">Orders, addresses and details</p>
<!-- /wp:paragraph -->

<!-- wp:separator {"className":"is-style-gilded"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-gilded"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","className":"ks-store-page__content ks-account","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
