<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ks-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group ks-main"><!-- wp:group {"tagName":"article","align":"full","className":"ks-article ks-section","layout":{"type":"constrained"}} -->
<article class="wp-block-group alignfull ks-article ks-section"><!-- wp:group {"align":"wide","className":"ks-article__head ks-centre","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide ks-article__head ks-centre"><!-- wp:post-title {"level":1,"className":"ks-article__title"} /-->

<!-- wp:separator {"className":"is-style-gilded"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-gilded"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"aspectRatio":"16/9","align":"wide","className":"is-style-label-frame"} /-->

<!-- wp:post-content {"className":"ks-prose","layout":{"type":"constrained"}} /--></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
